@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  white-space: nowrap;
  font-family: "Montserrat", sans-serif;
}

.main_wrapper {
  margin: 50px 100px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.header_logo img {
  width: 210px;
}
.header_links {
  display: flex;
  font-weight: 500;
  font-size: 24px;
  gap: 57px;
}
.header_link {
  text-decoration: none;
  color: black;
}
.header_link.active {
  text-decoration: underline;
}

.banner {
  position: relative;
  width: 100%;
  text-align: center;
  margin-bottom: 43px;
}
.banner img {
  width: 100%;
  height: 13.938rem;
  object-fit: cover;
  filter: brightness(0.5);
  border-radius: 25px;
  display: block;
}
.banner .banner_title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  color: #ffffff;
  font-size: 2em;
  font-weight: 700;
  z-index: 2;
}

.collapse {
  margin: 0 100px;
}
.collapse_dropdown_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FF6060;
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  padding: 10px 20px 8px 15px;
  border-radius: 5px;
}
.collapse_dropdown_container {
  background: #F6F6F6;
  margin-bottom: 30px;
  border-radius: 5px;
}

.dropdown_title {
  margin: 0;
  font-size: 1.5rem;
}

.dropdown-content {
  margin: 0;
  padding: 20px;
  font-weight: 500;
  white-space: normal;
  overflow-wrap: break-word;
  max-width: 100%;
}

.card {
  position: relative;
  overflow: hidden;
}
.card_img {
  width: 100%;
  height: 340px;
  display: block;
  border-radius: 10px;
}
.card_title {
  position: absolute;
  bottom: 0px;
  left: 16px;
  color: white;
  font-size: 1.125rem;
  white-space: normal;
  overflow-wrap: break-word;
  max-width: 90%;
}

.home_gallery {
  padding: 56px 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #F6F6F6;
  gap: 50px;
  border-radius: 25px;
}

.Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000;
  color: #fff;
}
.Footer_Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.Footer_Logo {
  width: 122px;
  padding: 66px 0 28px;
}
.Footer_Copyright {
  font-size: 1.5rem;
  margin-bottom: 29px;
}