@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
body {
  margin: 45px 100px;
  padding: 0;
  box-sizing: border-box;
  white-space: nowrap;
  font-family: "Montserrat", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_logo img {
  width: 210px;
}

.header_links {
  display: flex;
  font-weight: 500;
  font-size: 24px;
  gap: 57px;
}

.header_link {
  text-decoration: none;
  color: black;
}

.banner img {
  width: 100%;
}