@use "../../styles/utils/variables";

.card {
  position: relative;
  height: 335px;
  overflow: hidden;
  &_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 10px;
  }
  &_title {
    position: absolute;
    bottom: 0px;
    left: 16px;
    color: variables.$secondary-color;
    font-size: 1.125rem;
    white-space: normal;
    overflow-wrap: break-word;
    max-width: 80%;
  }
}
