.slideshow-tags-ratings {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.star-rating {
  display: flex;
  gap: 10px;
}

.star-rating img {
  width: 34px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .star-rating img {
    width: 30px;
  }
}

@media screen and (max-width: 1024px) {
  .star-rating {
    margin-top: 24px;
  }

  .star-rating img {
    width: 13px;
  }
}
