@use "../../styles/utils/variables";

.collapse {
  margin: 0 100px;
  &_dropdown_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: variables.$primary-color;
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    padding: 10px 20px 8px 15px;
    border-radius: 5px;
  }
  &_dropdown_container {
    background: variables.$secondary-color;
    margin-bottom: 30px;
    border-radius: 5px;
  }
}
.collapse_dropdown_content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.3s ease;
}
.collapse_dropdown_container.opened .collapse_dropdown_content {
  max-height: 300px;
}

.dropdown_title {
  margin: 0;
  font-size: 1.5rem;
}

.dropdown-content {
  margin: 0;
  padding: 20px;
  font-size: 18px;
  font-weight: 400;
  white-space: normal;
  overflow-wrap: break-word;
  max-width: 100%;
  line-height: 25px;
}

.dropdown-list {
  list-style-type: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  margin: 0;
  padding: 20px;
}

.housing-collapses {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  gap: 76px;
}

.description-collapse {
  width: 50%;
}

.equipments-collapse {
  width: 50%;
}

@media screen and (max-width: 1024px) {
  .housing-collapses {
    display: inline;
  }

  .description-collapse {
    width: 100%;
  }

  .equipments-collapse {
    width: 100%;
  }

  .dropdown_title {
    font-size: 13px;
  }

  .collapse_dropdown_title {
    margin-top: 13px;
  }

  .dropdown-content {
    font-size: small;
  }

  .dropdown-list {
    font-size: small;
  }
}
