@use "../../styles/utils/variables";

.collapse {
  margin: 0 100px;
  &_dropdown_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: variables.$primary-color;
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    padding: 10px 20px 8px 15px;
    border-radius: 5px;
  }
  &_dropdown_container {
    background: variables.$secondary-color;
    margin-bottom: 30px;
    border-radius: 5px;
  }
}
.collapse_dropdown_content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.3s ease;
}
.collapse_dropdown_container.opened .collapse_dropdown_content {
  max-height: 300px;
}

.dropdown_title {
  margin: 0;
  font-size: 1.5rem;
}

.dropdown-content {
  margin: 0;
  padding: 20px;
  font-weight: 500;
  white-space: normal;
  overflow-wrap: break-word;
  max-width: 100%;
  height: 200px;
  line-height: 1.5;
}

.dropdown-list {
  list-style-type: none;
  line-height: 1.5;
  height: 200px;
  margin: 0;
  padding: 20px;
}

.housing-collapses {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  gap: 76px;
}

.description-collapse {
  width: 50%;
}

.equipments-collapse {
  width: 50%;
}
