.collapse {
  margin: 0 100px;
  &_dropdown_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $primary-color;
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    padding: 10px 20px 8px 15px;
    border-radius: 5px;
  }
  &_dropdown_container {
    background: $secondary-color;
    margin-bottom: 30px;
    border-radius: 5px;
  }
}

.dropdown_title {
  margin: 0;
  font-size: 1.5rem;
}

.dropdown-content {
  margin: 0;
  padding: 20px;
  font-weight: 500;
  white-space: normal;
  overflow-wrap: break-word;
  max-width: 100%;
}
