.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 100px 0px;
  &_logo img {
    width: 210px;
  }
  &_links {
    display: flex;
    font-weight: 500;
    font-size: 24px;
    gap: 57px;
  }
  &_link {
    text-decoration: none;
    color: black;
  }
  &_link.active {
    text-decoration: underline;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .header {
    margin: 50px 50px 0;
    &_logo img {
      width: 160px;
    }
    &_links {
      font-size: 18px;
      gap: 26px;
    }
  }
}

@media screen and (max-width: 767px) {
  .header {
    margin: 20px 20px 0px;
    &_logo img {
      width: 145px;
    }
    &_links {
      font-size: 12px;
      gap: 26px;
    }
  }
}
