.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 100px 0px;
  &_logo img {
    width: 210px;
  }
  &_links {
    display: flex;
    font-weight: 500;
    font-size: 24px;
    gap: 57px;
  }
  &_link {
    text-decoration: none;
    color: black;
  }
  &_link.active {
    text-decoration: underline;
  }
}
