@use "../../styles/utils/variables";

.Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000;
  color: variables.$secondary-color;
  margin-top: 50px;
  &_Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  &_Logo {
    width: 122px;
    padding: 66px 0 28px;
  }
  &_Copyright {
    font-size: 1.5rem;
    margin-bottom: 29px;
  }
}
